div > form {
   display: flex;
    background-color: cornflowerblue;
    width: auto;
    height: 200px;
    padding: 20px;
    justify-content: space-between;
   
}

form > input {
    align-items: center;
    height: 20px;
    display: inline;
}

div > form > button {
    display: block;
    height: 20px;
    border-radius: 10px;
    background-color:aquamarine;
    color: grey;
}

.listPhoto {
    height: 200px;
    width: 200px;
}

.blue {
    color: blue;
}

.black {
    color: black;
}
